<%= form_with(model: task_board, local: true) do |form| %>
  <% if task_board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task_board.errors.count, "error") %> prohibited this task_board from being saved:</h2>

      <ul>
      <% task_board.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :finished %>
    <%= form.check_box :finished %>
  </div>

  <div class="field">
    <%= form.hidden_field :goal_board_id, value: @goal_board.id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
