<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @goal_cell.name %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @goal_cell.deadline %>
</p>

<p>
  <strong>Finished:</strong>
  <%= @goal_cell.finished %>
</p>

<p>
  <strong>Cell:</strong>
  <%= @goal_cell.cell.name %>
</p>

<p>
  <strong>Tasks: </strong>
  <% @tasks.each do |task| %>
    <ul>
      <li><strong>Name: </strong><%= task.name %></li>
      <li><strong>Description: </strong><%= task.description %></li>
      <%= link_to 'Edit', {:controller => "task_cells", :action => "edit", goal_cell: @goal_cell.id, id: task.id} %>
      <%if can? :destroy, task%>
        <%= link_to 'Destroy', task, method: :delete, data: { confirm: "Are you sure?" } %>
      <%end%>
    </ul>
  <% end %>
</p>

<p>
  <strong>Tasks Finisheds: </strong>
  <% @tasks_finisheds.each do |task| %>
    <ul>
      <li><strong>Name: </strong><%= task.name %></li>
      <li><strong>Description: </strong><%= task.description %></li>
      <%= link_to 'Edit', {:controller => "task_cells", :action => "edit", goal_cell: @goal_cell.id, id: task.id} %>
      <%if can? :destroy, task%>
        <%= link_to 'Destroy', task, method: :delete, data: { confirm: "Are you sure?" } %>
      <%end%>
    </ul>
  <% end %>
</p>

<% if @goal_cell.finished == false %>
  <p>Criar Nova Tarefa</p>
  <%= render 'task_cells/form', {task_cell: TaskCell.new} %>
<% end %>