<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @board.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @board.description %>
</p>

<p>
  <strong>Director</strong>
  <% if @director.present? %>
    <%= @director.name %>
    <%= link_to "Profile", @director %>
  <% end %>
</p>

<p>
  <strong>Accessors</strong>
  <% if @accessors.present? %>
    <ul>
      <% @accessors.each do |accessor| %>
        <li><%= accessor.name %>
        <%= link_to "Profile", accessor %></li>
      <% end %>
    </ul>
  <% end %>
</p>


<% if @board.cells != [] %>
  <p>
    <strong>Células</strong>
    <ul>
      <% @board.cells.each do |cell| %>
        <li><%= link_to cell.name, cell %></li>
      <% end %>
    </ul>
  </p>
<% end %>

<p>Metas em Andamento</p>
<ul>
  <% @goals.each do |goal| %>
    <li><strong>Name: </strong><%= goal.name %></li>
    <li><strong>Deadline: </strong><%= goal.deadline %></li>
    <%if can? :read, goal%>
      <li><%= link_to "Show", {:controller => "goal_boards", :action => "show", :id => goal.id} %></li>
    <%end%>
    <%if can? :edit, goal%>
      <li><%= link_to "Edit", {:controller => "goal_boards", :action => "edit", :board => @board.id, :id => goal.id } %></li>
    <%end%>
    <%if can? :destroy, goal%>
      <li><%= link_to "Destroy", goal, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    <%end%>
  <% end %>
</ul>

<p>
  <strong>Metas Finalizadas</strong>
  <% @goals_finisheds.each do |goal| %>
    <ul>
      <li><strong>Name: </strong><%= goal.name %></li>
      <li><strong>Deadline: </strong><%= goal.deadline %></li>
      <%if can? :read, goal%>
        <li><%= link_to "Show", {:controller => "goal_boards", :action => "show", :id => goal.id} %></li>
      <%end%>
      <%if can? :edit, goal%>
        <li><%= link_to "Edit", {:controller => "goal_boards", :action => "edit", :board => @board.id, :id => goal.id } %></li>
      <%end%>
      <%if can? :destroy, goal%>
        <li><%= link_to "Destroy", goal, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      <%end%>
    </ul>
  <% end %>
</p>

<% if can? :manage, @board %>
  <%= "Adicionar Meta" %>
  <%= render 'goal_boards/form', {board: @board, goal_board: GoalBoard.new} %>
<% end %>

<% if can? :update, @board %>
  <%= link_to 'Edit', edit_board_path(@board) %>
<% end %>