<div class="show_article">
  <p id="notice"><%= notice %></p>
  <%if can? :edit, @post%>
    <%= render 'post_tags/form', {post_tag: @post_tag} %>
  <%end%>

 
      <% PostTag.all.each do |post_tag| %>
        <%if post_tag.post_id == @post.id %>
          <tr>
            <td><%= post_tag.tag.name %></td>
            <%if can? :edit, @post%>
              <td><%= link_to 'Destroy', post_tag, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
            <%end%>
          </tr>
        <%end%>
      <% end %>
  


  <div class="user_photo">
  <% if @post.user.photo.present? %>
    <%= image_tag (@post.user.photo.url) %>
  <% end %>
  </div>



  <div class="user_box">
    <p class="user_name">
      <%= @post.user.name %>
    </p>
    <p class="user_board" >
    <%= "#{@post.user.board_kind} de #{@post.user.board.name}" %>
    </p>
  </div>
  
  <div class="post_photo">
    <% if @post.photo.present? %>
        <%= image_tag (@post.photo.url) %>
      <% end %>
  </div>


  <p class="post_title">
    <%= @post.title%>
  </p>
  <%= tinymce %>

  <p class="post_content">
    <%= simple_format(@post.content) %>
  </p>

  
  <p>
    <strong>Date:</strong>
    <%= @post.created_at.to_date %>
  </p>

  <%= button_to 'Curtir', post_likes_path(@post), method: :post, :class => "button"%>
  <p><%=@post.likes.length%></p>

  <%= button_to 'Descurtir', post_dislikes_path(@post), method: :post, :class => "button" %>
  <p><%=@post.dislikes.length%></p>

  <%= commontator_thread(@post) %>



</div>