<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @goal_board.name %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @goal_board.deadline %>
</p>

<p>
  <strong>Finished:</strong>
  <%= @goal_board.finished %>
</p>

<p>
  <strong>Board:</strong>
  <%= @goal_board.board.name %>
</p>

<p>
  <strong>Tasks: </strong>
  <% @tasks.each do |task| %>
    <ul>
      <li><strong>Name: </strong><%= task.name %></li>
      <li><strong>Description: </strong><%= task.description %></li>
      <%= link_to 'Edit', {:controller => "task_boards", :action => "edit", goal_board: @goal_board.id, id: task.id} %>
      <%if can? :destroy, task%>
        <%= link_to 'Destroy', task, method: :delete, data: { confirm: "Are you sure?" } %>
      <%end%>
    </ul>
  <% end %>
</p>

<p>
  <strong>Tasks Finisheds: </strong>
  <% @tasks_finisheds.each do |task| %>
    <ul>
      <li><strong>Name: </strong><%= task.name %></li>
      <li><strong>Description: </strong><%= task.description %></li>
      <%= link_to 'Edit', {:controller => "task_boards", :action => "edit", goal_board: @goal_board.id, id: task.id} %>
      <%if can? :destroy, task%>
        <%= link_to 'Destroy', task, method: :delete, data: { confirm: "Are you sure?" } %>
      <%end%>
    </ul>
  <% end %>
</p>

<% if @goal_board.finished == false %>
  <p>Criar Nova Tarefa</p>
  <%= render 'task_boards/form', {task_board: TaskBoard.new} %>
<% end %>