//  C O N F I G
$white: #FAFAFA;
$light-blue: #3b809d;
$darker-blue: #2D647C;
$light-gray: #d1d1d1;
$gray: #999;
$black: #010203;

$font-lato: Lato, sans-serif;

// C O N T E N T

.boards {
    text-align: center;
}

.boards_title {
    font-family: 'Lato', sans-serif;
    font-size: 2.5em;
    color: $black;
    text-transform: uppercase;
    margin-top: 5vh;
}

.boards_line {
    width: 230px;
    height: 5px;
    background-color: $light-blue;
    margin: 5px auto;
}

.boards_link_new {
    display: block;
    margin: auto;
    text-transform: uppercase;
    min-width: 120px;
    max-width: 220px;
    padding: 8px 16px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: $white;
    background-color: $light_blue;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 4px 0px $darker-blue;
    font-weight: bold;

    &:hover {
        transition: 0.3s;
        transform: translateY(4px);
    }

    :visited,
    :link {
        color: $white;
        text-decoration: none;
    }
}

.boards {
    .board_content {
        display: flex;
        flex-flow: row wrap;
        margin: 5vh auto;
        max-width: 1000px;;
        background-color: $light-gray;
        padding: 15px;
        border-radius: 10px;
        width: 100%;

        .board_name {
            order: 0;
            flex-basis: 20%;
            margin-right: 69%;
            font-size: 1.5em;
            background-color: $light-blue;
            border-radius: 8px;
            margin-bottom: 2vh;
            padding: 5px;
        }

        .board_edit {
            order: 1;
            flex-basis: 5%;
        }

        .board_destroy {
            order: 2;
            flex-basis: 5%;  
        }

        .board_description {
            order: 3;
            flex-basis: 100%;
            margin-right: 30%;
            margin-bottom: 2vh;
            text-align: left;
        }

        .board_id {
            order: 4;
            flex-basis: 20%;
            text-transform: uppercase;
            border-right: 1.5px solid $black;
        }

        .board_goal {
            order: 5;
            flex-basis: 20%;
            margin-right: 32%;
            text-transform: uppercase;

        }

        .board_more {
            order: 6;
            flex-basis: 27%;
            text-transform: uppercase;
            font-size: 1em;

            :hover {
            transform: scale(1.3);
            }

            :visited,
            :link {
                color: $black;
            }
        }

        .board_icon {
            height: 30px;
            width: auto;
        }
    }
}

@media only screen and (max-width: 1050px) {
    
    .boards{
        .board_content {
            width: 65%;

            .board_name {
                margin-right: 60%;
            }
        }

    }
}

@media only screen and (max-width: 600px) {
    
    .boards{
        .board_content {
            width: 65%;

            .board_name {
                margin-right: 40%;
            }
        }

    }
}