@import 'config';

// C O N T E N T

.boards {
    text-align: center;
}

.boards_title {
    font-family: 'Lato', sans-serif;
    font-size: 2.5em;
    color: $black;
    text-transform: uppercase;
    margin-top: 10vh;
    text-align: center;

}

.boards_line {
    width: 230px;
    height: 5px;
    background-color: $light-blue;
    margin: 5px auto;
}

.boards_link_new {
    display: block;
    margin: auto;
    text-transform: uppercase;
    min-width: 120px;
    max-width: 220px;
    padding: 8px 16px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: $white;
    background-color: $light_blue;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 4px 0px $darker-blue;
    font-weight: bold;
    margin-bottom: 10vh;

    font-family: $font-lato;



    &:hover {
        transition: 0.3s;
        transform: translateY(4px);
    }

    :visited,
    :link {
        color: $white;
        text-decoration: none;
    }
}

.boards {
    .board_content {
        display: flex;
        flex-flow: row wrap;
        margin: 5vh auto;
        max-width: 1000px;;
        background-color: $lighter-gray;
        padding: 15px;
        border-radius: 10px;
        width: 100%;
        box-shadow: 2px 2px rgba(209, 209, 209, 0.5);

        .board_name {
            order: 0;
            flex-basis: 20%;
            margin-right: 69%;
            font-family: $font-lato;
            font-size: 1.125em;
            font-weight: bold;
            background-color: $diretoria;
            text-transform: uppercase;
            border-radius: 8px;
            margin-bottom: 2vh;
            padding: 5px;
        }

        .board_edit {
            order: 1;
            flex-basis: 5%;
        }

        .board_destroy {
            order: 2;
            flex-basis: 5%;  
        }

        .board_description {
            order: 3;
            flex-basis: 100%;
            margin-right: 30%;
            margin-bottom: 2vh;
            text-align: left;
            font-family: $font-lato;
            font-size: 1em;
            color: $black;
        }

        .board_id {
            order: 4;
            flex-basis: 20%;
            text-transform: uppercase;
            font-family: $font-lato;
            font-weight: bold;
            font-size: 1em;
            color: $black;
            border-right: 1.5px solid $black;
            text-align: left;
        }

        .board_goal {
            order: 5;
            flex-basis: 20%;
            margin-right: 32%;
            text-transform: uppercase;
            font-family: $font-lato;
            font-weight: bold;
            font-size: 1em;
            color: $black;

        }

        .board_more {
            order: 6;
            flex-basis: 27%;
            text-transform: uppercase;
            font-family: $font-lato;
            font-weight: bold;
            font-size: 1em;
            color: $black;
            font-size: 1em;
            transition: 0.3s;

            :hover {
            transform: scale(1.3);
            transition: 0.3s;
            }

            :visited,
            :link {
                text-decoration: none;
                color: $black;
            }
        }

        .board_icon {
            height: 20px;
            width: auto;
        }
    }
}

@media only screen and (max-width: 1050px) {
    
    .boards{
        .board_content {
            width: 65%;

            .board_name {
                margin-right: 60%;
            }
        }

    }
}

@media only screen and (max-width: 600px) {
    
    .boards{
        .board_content {
            width: 65%;

            .board_name {
                margin-right: 40%;
            }
        }

    }
}

/* NEW BOARDS ================================================================================*/

.board_new_button {
        display: block;
        margin: auto;
        text-transform: uppercase;
        min-width: 120px;
        max-width: 220px;
        padding: 8px 16px;
        font-size: 20px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: $white;
        background-color: $light_blue;
        border: none;
        border-radius: 8px;
        box-shadow: 0px 4px 0px $darker-blue;
        font-weight: bold;
        margin-bottom: 10vh;
    
    
    &:hover {
        transition: 0.3s;
        transform: translateY(4px);
    }
}

.board_new_container {
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto;
    max-width: 1000px;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    font-size: 1.5em;

    .board_new_field_name {
        order: 0;
        background-color: $lighter-gray;
        margin: 0px 0px 5px 0px;
        width: 100%;
        height: 25px;
        outline: none;
        border-radius: 50px;
        border: none;
        padding-left: 5px;
    }

    .board_new_field_description {
        order: 1;
        background-color: $lighter-gray;
        width: 100%;
        height: 200px;
        outline: none;
        border-radius: 20px;
        border: none;
        padding-left: 5px;
    }
}

@media only screen and (max-width: 1030px) {
   
    .board_new_container {
        width: 50%;
    }
}