// C O N F I G
$white: #FAFAFA;
$light-blue: #3b809d;
$darker-blue: #2D647C;
$light-gray: #d1d1d1;
$lighter-gray: #eeeded;
$gray: #999;
$black: #010203;


$diretoria: #B3CED4;

@font-face {
    font-family: 'Lato';
    src: asset-url(Lato-Regular)
}

$font-lato: Lato, sans-serif;