@import 'config';

// C O N T E N T
.edit_forum {
    width: 60vw;
    margin: 2.5% auto;

    h1 {
        font-family: 'Lato', sans-serif;
        font-size: 3em;
        color: $black;
        text-transform: uppercase;
        text-align: center;
    }

    .line {
        width: 30%;
        height: 5px;
        background-color: $light-blue;
        margin: 10px auto;
        margin-bottom: 5%;
    }
}