@import 'config';

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: $darker-blue;

    margin-top: 5%;
    
    
    .container {
        width: 80vw;
        margin: 0 auto;
        

        p {
            font-family: $font-lato;
            font-size: 1.125em;
            font-weight: normal;
            text-transform: uppercase;
            color: $white;
            float: left;

            padding-top: 35px;
        }

        .footer_logo {
            height: 50px;
            width: auto;
            float: right;

            padding-top: 15px;
        }
    }

}