@import 'config';

/*====================================RECUPERAR_SENHA=NEW.HTML.ERB================================*/

#forgot_password {
    display: block;
    font-family: $font-lato;

    .forgot_password_text {
        font-size: 1em;
        color: $black;
        border-bottom: 6px solid $light-blue;
        position: absolute;
        top: 40vh;
        left: 50vw;
        transform: translate(-50%, -50%);
    }
}

.forgot_password_field {
    position: absolute;
    top: 45vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    #user_email {
        background-color: $light-gray;
        width: 300px;
        height: 20px;
        outline: none;
        border-radius: 50px;
        border: none;
    }
}

.forgot_password_actions {
    position: absolute;

    .forgot_password_button {
        position: absolute;
        top: 53vh;
        left: 50vw;
        transform: translate(-50%, -50%);
        padding: 8px 16px;
        font-size: 20px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: $white;
        background-color: $light-blue;
        border: none;
        border-radius: 8px;
        box-shadow: 0px 4px 0px $darker-blue;
        font-weight: bold;
    }    
}


/*===============================================MEDIA==============================================*/


@media (min-width: 700px) {

    #forgot_password {
        .forgot_password_text {
            font-size: 2em;
            top: 37vh;
        }
    }
}

@media (min-width: 1200px) {

    .forgot_password_actions {
        .forgot_password_button { 
            top: 53vh;
        }
    }
}
