@import 'config';

// C O N T E N T
.forum_list {
    width: 60vw;
    margin: 5% auto;

    h1 {
        font-family: $font-lato;
        font-size: 2.5em;
        text-align: center;
        text-transform: uppercase;
        color: $black;

    }

    .forum_box {
        display: flex;
        flex-flow: column nowrap;
    }

    .item {
        width: 100%;

        background-color: $lighter-gray;
        padding: 15px;
        margin: 1% auto;
        border-radius: 15px;

        font-family: 'Lato', sans-serif;
        font-size: 1em;
        color: $black;

    }



    .line {
        height: 5px;
        width: 15%;
        background-color: $light-blue;
        margin: 10px auto;
    } 

    .description {
        font-family: $font-lato;
        font-style: italic;
    }


    .title {
        font-family: $font-lato;
        font-size: 1.5em;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.04em;

        &:link, &:visited {
            text-decoration: none;
            color: $black;
        }
    }

    .button {
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        font-size: 1em;
        font-style: normal;
        color: $white;
        
        background-color: $light-blue;
        padding: 10px;
        margin: 0 5px;
        border-radius: 5px;
        box-shadow: 0px 4px $darker-blue;

        float: right;


        &:link, &:visited {
            text-decoration: none;
            color: $white;
        }

        .options {
            margin-top: -20px;
        }

    }

}

