@import 'config';

/*=======================================LOGIN=NEW.HTML.ERB=======================================*/

#home_login {
    background-image: url('background-in.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    display: block;
    font-family: $font-lato;

    .logo-in {
        width: 23%;
        min-width: 210px;
        max-width: 450px;
        height: auto;
        margin-top: 20vh;
        margin-bottom: 2vh;
    }

    .home_login_field {
        color: $white;
        width: 230px;
        margin: 0 auto;

        #user_email {
            margin: 0px 0px 15px 0px;
            width: 230px;
            height: 20px;
            outline: none;
            border-radius: 50px;
            border: none;
        }

        #user_password {
            width: 230px;
            height: 20px;
            outline: none;
            border-radius: 50px;
            border: none;
        }
        
        .home_login_field-email,
        .home_login_field-password {
            float: left;
            font-size: 15px;
        }
    }

    .inline {
        color: $white;
        display: inline-block;
        font-size: 85%;
        margin: 0px -10px 30px -30px;

        :visited,
        :link {
            margin: 0px 0px 0px 80px;
            color: $white;
        }
    }

    .home_login_button {
        padding: 8px 16px;
        font-size: 20px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: $light-blue;
        background-color: $white;
        border: none;
        border-radius: 8px;
        box-shadow: 0px 4px 0px $light-gray;
        font-weight: bold;

        &:hover {
            background-color: $white;
            box-shadow: 0 1px $gray;
            transition: 0.3s;
            transform: translateY(4px);
        }
    }
}

/*===============================================MEDIA==============================================*/

@media only screen and (max-width: 370px) {
    
    .inline {
        display: block;
        margin: 0px 0px 10px -10px;
    }
}

@media only screen and (min-width: 1380px) {

    .home_login_field {
        width: 400px;

        #user_email {
            width: 400px;
            height: 30px;
        }

        #user_password {
            width: 400px;
            height: 30px;
        }
    
        .home_login_field-email,
        .home_login_field-password {
            font-size: 25px;
        }
    }   

    .inline {
        font-size: 20px;
        margin: 10px 30px 30px -70px;
    }

    .home_login_button {
        padding: 12px 24px;
        font-size: 25px;
    }
}
