/*
                                   .o8                         
                                  "888                         
ooo. .oo.    .oooo.   oooo    ooo  888oooo.   .oooo.   oooo d8b
`888P"Y88b  `P  )88b   `88.  .8'   d88' `88b `P  )88b  `888""8P
 888   888   .oP"888    `88..8'    888   888  .oP"888   888    
 888   888  d8(  888     `888'     888   888 d8(  888   888    
o888o o888o `Y888""8o     `8'      `Y8bod8P' `Y888""8o d888b   

*/

@import 'config';

// C O N T E N T
.navbar {
    width: 100%;
    height: 80px;
    background-color: $light-blue;
}

.nav_content {
    width: 95vw;
    margin: 0 auto;
    padding: 5px;
}

.nav_buttons {
    float: right;
}

.nav_logo {
    width: 110px;
    height: auto;
}

.nav_icon {
    height: 30px;
    width: auto;

    padding: 10px;
    margin: 5px;

    background-color: $white;
    border-radius: 5px;
    box-shadow: 0px 4px $light-gray;
    transition: 0.3s;

    &:hover {
        background-color: $white;
        box-shadow: 0 1px $gray;
        transition: 0.3s;
        transform: translateY(4px);
    }
}

// D R O P D O W N
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown_content {
    display: none;
    position: absolute;
    background-color: $light-blue;
    box-shadow: 0px 2px 0px 0px $darker-blue;
    border-radius: 5px;
    padding: 10px 15px;

    font-family: $font-lato;
    font-size: 1em;
    color: $white;

    z-index: 1;
}
  
.dropdown:hover .dropdown_content {
    display: block;
}

// M E D I A   T A G
@media only screen and (max-width: 520px) {

    .navbar {
        height: 150px;
    }
    .nav_logo {
        display: block;
        margin-left: 35%;
        margin-top: 1vh;
    }

    .nav_buttons {
        float:none;
        text-align: center;
    }

    .nav_icon {
        height: 20px;
        width: auto;
    }
}

@media only screen and (max-width: 350px) {

    .nav_logo {
        margin-left: 30%;
    }

    .nav_icon {
        height: 15px;
        width: auto;
    }


}