/*
                                   .o8                         
                                  "888                         
ooo. .oo.    .oooo.   oooo    ooo  888oooo.   .oooo.   oooo d8b
`888P"Y88b  `P  )88b   `88.  .8'   d88' `88b `P  )88b  `888""8P
 888   888   .oP"888    `88..8'    888   888  .oP"888   888    
 888   888  d8(  888     `888'     888   888 d8(  888   888    
o888o o888o `Y888""8o     `8'      `Y8bod8P' `Y888""8o d888b   

*/

//  C O R E S
$white: #FAFAFA;
$light-blue: #3b809d;
$darker-blue: #2D647C;
$light-gray: #d1d1d1;
$gray: #999;
$black: #010203;

// C O N T E N T
.navbar {
    width: 100vw;
    height: 80px;
    background-color: $light-blue;
}

.nav_content {
    width: 95vw;
    margin: 0 auto;
}

.nav_buttons {
    float: right;
}

.nav_logo {
    width: 85px;
    height: 55px;
}

.nav_icon {
    height: 30px;
    width: auto;

    padding: 10px;
    margin: 5px;

    background-color: $white;
    border-radius: 5px;
    box-shadow: 0px 4px $light-gray;

    &:hover {
        background-color: $white;
        box-shadow: 0 1px $gray;
        transition: 0.3s;
        transform: translateY(4px);
    }
}