// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
                       .    o8o                               
                     .o8    `"'                               
 .oooo.   oooo d8b .o888oo oooo   .oooooooo  .ooooo.   .oooo.o
`P  )88b  `888""8P   888   `888  888' `88b  d88' `88b d88(  "8
 .oP"888   888       888    888  888   888  888   888 `"Y88b. 
d8(  888   888       888 .  888  `88bod8P'  888   888 o.  )88b
`Y888""8o d888b      "888" o888o `8oooooo.  `Y8bod8P' 8""888P'
                                 d"     YD                    
                                 "Y88888P'                    
*/

@import 'config';

// C O N T E N T
.content {
    width: 65vw;
    margin: 0 auto;
}



.article {
    margin: 5vh auto;

    h1 {
        font-family: 'Lato', sans-serif;
        font-size: 2.5em;
        color: $black;
        text-align: center;
        text-transform: uppercase;
    }

    .line {
        width: 175px;
        height: 5px;
        background-color: $light-blue;
        margin: 5px auto;
    }
    
    .list {
        margin: 5vh auto;
    }

    .article_box {
        display: flex;
        flex-flow: row nowrap;
        margin: 10px 0;

        .photo {
            flex-grow: 0;
            
            img {
            width: 60px;
            height: 60px;
            border-radius: 100%;
            box-shadow: 2px 2px $lighter-gray;
            margin-right: 10px;
            margin-top: 10px;
            }

        }

        .item {
            flex-grow: 2;


            background-color: $lighter-gray;
            padding: 15px;
            margin: 0 auto;
            border-radius: 15px;

            font-family: 'Lato', sans-serif;
            font-size: 1em;
            color: $black;

            


        }
    }

    .description {
        font-style: italic;
    }


    .title {
        font-size: 1.5em;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.04em;

        &:link, &:visited {
            text-decoration: none;
            color: $black;
        }
    }

    .button {
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        font-size: 1em;
        font-style: normal;
        color: $white;
        
        background-color: $light-blue;
        padding: 10px;
        margin: 0 5px;
        border-radius: 5px;
        box-shadow: 0px 4px $darker-blue;

        float: right;


        &:link, &:visited {
            text-decoration: none;
            color: $white;
        }

        .options {
            margin-top: -10px;
        }

    }

    .search {
        float: right;
        
        form {
            font-family: $font-lato;
            font-size: 1em;
            color: $black;
        }
    }
}

