/*==============================================CORES=============================================*/

$white: #FAFAFA;

$light-blue: #3b809d;
$darker-blue: #2D647C;

$light-gray: #d1d1d1;
$gray: #999;

$black: #010203;

/*=============================================FONTES=============================================*/

@font-face {
    font-family: 'Lato';
    src: asset-url(Lato-Regular)
}

$font-lato: 'Lato', sans-serif;

/*======================================REGISTER=NEW.HTML.ERB=====================================*/


#register_title {
    margin: 5vh auto;

    h1 {    
        font-family: 'Lato', sans-serif;
        font-size: 2.5em;
        color: #010203;
        text-align: center;
        text-transform: uppercase;
    }

    .register_line {
        width: 205px;
        height: 5px;
        background-color: #3b809d;
        margin: 5px auto;
    }
    
}

.register_actions {
    margin: 5vh auto;

    .register_button {
        display: block;
        margin: auto;
        text-transform: uppercase;
        padding: 8px 16px;
        font-size: 20px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: $white;
        background-color: $light-blue;
        border: none;
        border-radius: 8px;
        box-shadow: 0px 4px 0px $darker-blue;
        font-weight: bold;

        &:hover {
            box-shadow: 0 1px $gray;
            transition: 0.3s;
            transform: translateY(4px);
        }
    }
}

.register_big_div {
    font-size: 1.1em;
    margin: auto;
    text-align: left;
    width: 550px;
    height: auto;

    .register_field_name {
        display: block;

        .field_name {
            background-color: $light-gray;
            margin: 0px 0px 5px 0px;
            width: 99%;
            height: 20px;
            outline: none;
            border-radius: 50px;
            border: none;
            padding-left: 5px;
        }
    }

    .register_field_email,
    .register_field_age,
    .register_field_password,
    .register_field_confirmation,
    .register_field_bid,
    .register_field_bkind,
    .register_field_cid,
    .register_field_ckind,
    .register_field_photo,
    .register_field_creation {
        display: inline-block;  

        .field_age {
            background-color: $light-gray;
            margin: 0px 0px 5px 0px;
            height: 20px;
            outline: none;
            border-radius: 50px;
            border: none;
            padding-left: 5px;
            width: 185px;
        }

        .field_email {
            background-color: $light-gray;
            margin: 0px 0px 5px 0px;
            height: 20px;
            outline: none;
            border-radius: 50px;
            border: none;
            padding-left: 5px;
            width: 350px;
        }

        .field_password {
            background-color: $light-gray;
            margin: 0px 0px 5px 0px;
            height: 20px;
            outline: none;
            border-radius: 50px;
            border: none;
            padding-left: 5px;
            width: 267.5px;
        }
    }

    .register_field_bkind {
        margin-right: 60px;
    }

    .register_field_bid {
        margin-top: 1vh;
    }

    .register_field_photo {
        margin: 5px 50px 5px 0px;
        display: inline-flex;

    }

    .register_field_creation{
        display: inline-flex;
    }

    #user_board_id,
    #user_board_kind,
    #user_cell_id,
    #user_cell_kind {
        padding: 5px;
        color: $black;
        background-color: $light-gray;
        border: none;
        border-radius: 20px;
    }
}

form {
    label {
        font-family: $font-lato;
        color: $black;
        font-size: 1em;
    }
}

/*===============================================MEDIA=============================================*/

@media only screen and (max-width: 550px) {
    .register_big_div {
        display: flex;
        flex-flow: column wrap;
        .register_field_name {
            width: 267.5px;
        }
        .register_field_email {
            width: 267.5px;
        }
    }

    .register_big_div input, .register_big_div {
        width: 80vw!important;
    }


    .register_big_div > div {
        width: 80vw!important;
        margin: 0 auto;
    }
    
  
}

.register_big_div label, .register_big_div input {
    display: block;

    
}



