// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'config';

.circle {
    background-image: url("wallpaper.jpg");
    background-repeat: no-repeat;
    display: block;
    text-align: center;

    .user_photo {
        border-radius: 100%;
        height: 250px;
        object-fit: cover;
        width: 250px;
    }
}

.user_name {
    display: flex;
    font-size: 2.5em;
    margin-top: 5vh;
    margin-left: 38%;

    #name {
        margin-right: 1vw;
    }
}

.user_icon {
    width: 30px;
    margin-left: 49%;
    margin-top: 1vh;
}

.user_board {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-size: 1.4em;
    margin-top: 2vh;
    background-color: $light-blue;
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 10vh;

}

.user_article {
    min-height: 200px;

    .article {
        font-size: 2.5em;
        color: #010203;
        text-transform: uppercase;
        margin-left: 42%;    
        border-bottom: 3px solid $light-blue;

    }
}

.user_questions {
    min-height: 200px;

    .questions {
        font-size: 2.5em;
        color: #010203;
        text-transform: uppercase;
        margin-left: 33%;
        border-bottom: 3px solid $light-blue; 

    }
}


.user_projects {
    min-height: 200px;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    


    .projects {
        margin-bottom: auto;
        order: 0;
        font-size: 2em;
        color: #010203;
        margin-right: 30%;
        margin-left: 20%;
        text-transform: uppercase;
        border-bottom: 3px solid $light-blue; 
    }

    .end_projects {
        order: 1;
        font-size: 2em;
        color: #010203;
        text-transform: uppercase;
        border-bottom: 3px solid $light-blue;
    }
}

.user_history {
    min-height: 200px;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;

    .history_board {
        margin-bottom: auto;
        order: 0;
        font-size: 2em;
        color: #010203;
        margin-left: 10%;
        text-transform: uppercase;
        border-bottom: 3px solid $light-blue; 
    }

    .history_cell {
        margin-bottom: auto;
        order: 1;
        font-size: 2em;
        margin-left: 20%;
        color: #010203;
        text-transform: uppercase;  
        border-bottom: 3px solid $light-blue; 
    }
}