<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cell.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cell.description %>
</p>

<p>
  <strong>Manager</strong>
  <% if @manager.present? %>
    <%= @manager.name %>
    <%= link_to "Profile", @manager %>
  <% end %>
</p>

<p>
  <strong>Members</strong>
  <% if @members.present? %>
    <ul>
      <% @members.each do |member| %>
        <li><%= member.name %>
        <%= link_to "Profile", member %></li>
      <% end %>
    </ul>
  <% end %>
</p>
<p>Metas em Andamento</p>
<ul>
  <% @goals.each do |goal| %>
    <li><strong>Name: </strong><%= goal.name %></li>
    <li><strong>Deadline: </strong><%= goal.deadline %></li>
    <%if can? :read, goal%>
      <li><%= link_to "Show", {:controller => "goal_cells", :action => "show", :id => goal.id} %></li>
    <%end%>
    <%if can? :edit, goal%>
      <li><%= link_to "Edit", {:controller => "goal_cells", :action => "edit", :cell => @cell.id, :id => goal.id } %></li>
    <%end%>
    <%if can? :destroy, goal%>
      <li><%= link_to "Destroy", goal, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    <%end%>
  <% end %>
</ul>

<p>
  <strong>Metas Finalizadas</strong>
  <% @goals_finisheds.each do |goal| %>
    <ul>
      <li><strong>Name: </strong><%= goal.name %></li>
      <li><strong>Deadline: </strong><%= goal.deadline %></li>
      <li><%= link_to "Show", {:controller => "goal_cells", :action => "show", :id => goal.id} %></li>
      <%if can? :edit, goal%>
        <li><%= link_to "Edit", {:controller => "goal_cells", :action => "edit", :cell => @cell.id, :id => goal.id } %></li>
      <%end%>
      <%if can? :destroy, goal%>
        <li><%= link_to "Destroy", goal, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      <%end%>
    </ul>
  <% end %>
</p>

<% if can? :manage, @cell %>
  <%= "Adicionar Meta" %>
  <%= render 'goal_cells/form', {cell: @cell, goal_cell: GoalCell.new} %>
<% end %>

<% if can? :update, @cell %>
  <%= link_to 'Edit', edit_cell_path(@cell) %>
<% end %>