<!DOCTYPE html>
<html>   
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProjetoFinal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%if user_signed_in?%>
      <div class="navbar">
        <div class="nav_content">
          <%= image_tag("logo-in.png", :alt => "IN Junior", :class => "nav_logo")%>
          
          <div class="nav_buttons">
            <div class="dropdown">
              <span><%= link_to  image_tag("house-outline.svg", :alt => "Página Inicial", :class => "nav_icon"), root_path %></span>
              <div class="dropdown_content">
                <p>Página Inicial</p>
              </div>
            </div>
            
            <div class="dropdown">
              <span><%= link_to  image_tag("avatar.svg", :alt => "Perfil", :class => "nav_icon"), current_user %></span>
              <div class="dropdown_content">
                <p>Perfil</p>
              </div>
            </div>

            <div class="dropdown">
              <span><%= link_to  image_tag("conversation.svg", :alt => "Fórum", :class => "nav_icon"), forum_path %></span>
              <div class="dropdown_content">
                <p>Fórum</p>
              </div>
            </div>
            
            <div class="dropdown">
              <span><%= link_to  image_tag("file.svg", :alt => "Artigos", :class => "nav_icon"), articles_path %></span>
              <div class="dropdown_content">
                <p>Artigos</p>
              </div>
            </div>
                        
            <div class="dropdown">
              <span><%= link_to  image_tag("collaboration.svg", :alt => "Diretorias", :class => "nav_icon"), boards_path %></span>
              <div class="dropdown_content">
                <p>Diretorias</p>
              </div>
            </div>
                        
            <div class="dropdown">
              <span><%= link_to image_tag("logout.svg", :alt => "Sair", :class => "nav_icon"), destroy_user_session_path, method: :delete %></span>
              <div class="dropdown_content">
                <p>Sair</p>
              </div>
            </div>


        <%end%>

          </div>
                
        </div>
      </div>

    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
